body {
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
}

header,
footer {
  background-color: white;
}

main {
  margin-left: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

#menu h2,
#menu h3 {
  text-align: center;
  margin: 15px 0;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 900px) {
  #menu {
    width: 30%;
    margin: auto;
    border: 0.5px solid tan;
    background-color: blanchedalmond;
  }
}