body {
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
}

header,
footer {
  background-color: white;
}

main {
  margin-left: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

#menu h2,
#menu h3 {
  text-align: center;
  margin: 15px 0;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Table Selection Buttons */

div#tables-map-positioner {
  position: relative;
}

div#tables-map {
  width: 55%;
  background-color: aquamarine;
  position: absolute;
  top: 75px;
  left: 250px;
}

button.table {
  background-color: burlywood;
  margin: 5px;
}

button.seats-2 {
  height: 60px;
  width: 80px;
  border-radius: 15px;
}

button.seats-3 {
  height: 90px;
  width: 90px;
  border-radius: 50px;
}

button.seats-6 {
  height: 90px;
  width: 150px;
  border-radius: 30px;
}

button.seats-9 {
  height: 100px;
  width: 190px;
  border-radius: 40px;
}

button.seats-12 {
  height: 120px;
  width: 240px;
  border-radius: 40px;
}

@media screen and (min-width: 900px) {
  #menu {
    width: 30%;
    margin: auto;
    border: 0.5px solid tan;
    background-color: blanchedalmond;
  }
}