body {
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
}

header,
footer {
  background-color: white;
}

main {
  margin-left: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

#menu h2,
#menu h3 {
  text-align: center;
  margin: 15px 0;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


div.prior-reservation {
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  padding: 20px;
}


/* Table Selection Buttons */

div#tables-map-positioner {
  position: relative;
}

div#tables-map {
  width: 55%;
  background-color: aquamarine;
  position: absolute;
  top: 75px;
  left: 250px;
}

button.table {
  background-color: burlywood;
  margin: 5px;
}

button.seats-2 {
  height: 60px;
  width: 80px;
  border-radius: 15px;
}

button.seats-3 {
  height: 90px;
  width: 90px;
  border-radius: 50px;
}

button.seats-6 {
  height: 90px;
  width: 150px;
  border-radius: 30px;
}

button.seats-9 {
  height: 100px;
  width: 190px;
  border-radius: 40px;
}

button.seats-12 {
  height: 120px;
  width: 240px;
  border-radius: 40px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (min-width: 900px) {
  #menu {
    width: 30%;
    margin: auto;
    border: 0.5px solid tan;
    background-color: blanchedalmond;
  }
}