{% load static %}

{% url 'home' as home_url %}
{% url 'menu' as menu_url %}
{% url 'reserve' as reserve_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Barn Owl Inn</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href="{{ home_url }}" aria-label="Go to the home page">Home</a></li>
          <li><a href="{{ menu_url }}" aria-label="Go to the restaurant menu page">Menu</a></li>
          <li><a href="{{ reserve_url }}" aria-label="Go to the reservations system page">Reservations</a></li>
          <li></li>

          {% if user.is_authenticated %}
            <li><a href="{{ logout_url }}" aria-label="Log out">Log out</a></li>
          {% else %}
            <li><a href="{{ signup_url }}" aria-label="Go to the signup page">Sign up</a></li>
            <li><a href="{{ login_url }}" aria-label="Go to the login page">Log in</a></li>
          {% endif %}

        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>

    </footer>

    {% block script %} {% endblock %}
  </body>

</html>