{% extends "base.html" %}
{% load static %}
{% block content %}

  {% if user.is_authenticated %}

    <h2>My Existing Reservations</h2>

    {% for reservation in reservations %}
      {% if reservation.reserver == user %}
        <div>
          {{ reservation }}
          {% for table in reservation.tables.all %}
            <p>{{ table.number }}</p>
          {% endfor %}
          <p>{{ reservation.date }}</p>
          <p>{{ reservation.start_time }}</p>
          <p>{{ reservation.duration }}</p>
          <p>{{ reservation.contact }}</p>
        </div>
      {% endif %}
    {% endfor %}

    <h2>Create a New Reservation</h2>

    <form method="post" action="">

      <div id="tables-map-positioner">
        <div id="tables-map">
          {% for table in tables %}
            <button type="button" id="table-{{ table.number }}" class="seats-{{ table.seats }} table">
              Table {{ table.number }} <br> (seats <b>{{ table.seats }}</b>)
            </button>
          {% endfor %}
        </div>

        {{ reservation_form.as_p }}
        {% csrf_token %}
      </div>

      <button type="submit">Submit</button>

    </form>

  {% else %}

    <p>
      To make a new reservation or view/edit an existing reservation, please 
      <a href="{{ signup_url }}">sign up</a> or 
      <a href="{{ login_url }}">log in</a> first.
    </p>

  {% endif %}

{% endblock %}

{% block script %}
  <script src="{% static 'js/table_select.js' %}"></script>
{% endblock %}